[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 79
target-version = ['py36']
skip-string-normalization = true

[tool.poetry]
name = "git-tidy"
packages = [
  { include = "tidy" }
]
version = "1.0.0"
description = "Tidy git commit messages, linting, and logging"
authors = ["Jyve Engineering"]
classifiers = [
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3 :: Only",
]

[tool.poetry.dependencies]
python = ">=3.6,<4"
click = "^7.0"
formaldict = "^0.2.0"
jinja2 = "^2.10.3"
packaging = "^20.0"
python-dateutil = "^2.8.1"
pyyaml = "^5.1.2"
requests = "^2.22.0"

[tool.poetry.dev-dependencies]
black = "=19.10b0"
boto3 = "=1.9.243"
flake8 = "=3.7.9"
flake8-bugbear = "=19.8.0"
flake8-comprehensions = "=2.2.0"
flake8-import-order = "=0.18.1"
flake8-logging-format = "=0.6.0"
flake8-mutable = "=1.2.0"
pip = "*"
pre-commit = "1.18.3"
pytest = "=5.4.1"
pytest-cov = "=2.10.0"
python-magic = "=0.4.15"
pytest-mock = "^1.13.0"
pytest-responses = "^0.4.0"
Sphinx = "=3.0.3"
sphinx-click = "^2.3.1"
sphinx-rtd-theme = "=0.4.3"
temple = "*"
tox = "=3.15.2"

[tool.poetry.scripts]
git-tidy = 'tidy.cli:tidy'
git-tidy-commit = 'tidy.cli:commit'
git-tidy-lint = 'tidy.cli:lint'
git-tidy-log = 'tidy.cli:log'
git-tidy-squash = 'tidy.cli:squash'
